<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.ruby.dao.TsontypeMapper">
  <resultMap id="BaseResultMap" type="com.qfedu.ruby.pojo.Tsontype">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="typename" jdbcType="VARCHAR" property="typename" />
    <result column="parentid" jdbcType="INTEGER" property="parentid" />
    <result column="img" jdbcType="VARCHAR" property="img" />
    <result column="flag" jdbcType="VARCHAR" property="flag" />
  </resultMap>
  <sql id="Base_Column_List">
    id, typename, parentid, img, flag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_sontype
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_sontype
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qfedu.ruby.pojo.Tsontype">
    insert into t_sontype (id, typename, parentid, 
      img, flag)
    values (#{id,jdbcType=INTEGER}, #{typename,jdbcType=VARCHAR}, #{parentid,jdbcType=INTEGER}, 
      #{img,jdbcType=VARCHAR}, #{flag,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qfedu.ruby.pojo.Tsontype">
    insert into t_sontype
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="typename != null">
        typename,
      </if>
      <if test="parentid != null">
        parentid,
      </if>
      <if test="img != null">
        img,
      </if>
      <if test="flag != null">
        flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="typename != null">
        #{typename,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null">
        #{parentid,jdbcType=INTEGER},
      </if>
      <if test="img != null">
        #{img,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qfedu.ruby.pojo.Tsontype">
    update t_sontype
    <set>
      <if test="typename != null">
        typename = #{typename,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null">
        parentid = #{parentid,jdbcType=INTEGER},
      </if>
      <if test="img != null">
        img = #{img,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        flag = #{flag,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qfedu.ruby.pojo.Tsontype">
    update t_sontype
    set typename = #{typename,jdbcType=VARCHAR},
      parentid = #{parentid,jdbcType=INTEGER},
      img = #{img,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>